@import "https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Oswald:wght@200..700&family=Smooch+Sans:wght@100..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Oswald:wght@200..700&display=swap";
@import "tailwindcss";

@theme {
  --font-oswald: 'Oswald', sans-serif;
  --font-assistant: 'Assistant', sans-serif;
  --font-smooch-sans: 'Smooch Sans', sans-serif;
}

/* Chặn chọn/copy text trên toàn bộ app */
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Cho phép select text ở input/textarea */
input,
textarea,
[contenteditable="true"],
.allow-select {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}